.sideMenuContainer {
    padding-top: 50px;
    min-height: 68vh;
}

.sideMenuLinks {
    color: white !important;
    font-weight: bold !important;
    border: solid #5f3c23;
    border-radius: 20px;
    margin: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-decoration: none;
}

.active {
    background-color: #5f3c23 !important;
    color: white !important;
}

.sideMenuLinks:hover {
    transform: scale(1.05)
}

.log {
    margin-top: 50px;
    color: #5f3c23 !important;
    font-weight: bold !important;
    font-size: large !important;
}

.log:hover {
    text-decoration: underline !important;
}

@media screen and (max-width: 576px) {
    .sideMenuContainer {
        display: none !important;
    }
}