.buttonAddSale {
    font-weight: bold !important;
    border: solid white;
    border-radius: 20px;
    margin: 5px;
    padding: 3px !important;
    text-decoration: none;
    width: 100%;
    color: white !important;
    background-color: #5f3c23 !important;
  }
  .buttonAddSale:hover {
    transform: scale(1.05)
  }
  .saleTitle{
    color: #5f3c23 !important;
  }
  .red-text {
    color: red !important;
  }
  
  .green-text {
    color: green !important;
  }
  
  .blue-text {
    color: blue !important;
  }