.buttonAddProduct {
    font-weight: bold !important;
    border: solid #5f3c23;
    border-radius: 20px;
    text-decoration: none;
    width: 100%;
    color: white !important;
    background-color: #5f3c23 !important;
  }
  .buttonAddProduct:hover {
    transform: scale(1.01)
  }
  .productTitle{
    color: #5f3c23 !important;
  }
  .editButton{
    background-color: #5f3c23 !important;
    color: white !important;
  }